In [120]:
import pandas as pd
from pathlib import Path

import numpy as np
from tqdm import tqdm_notebook as tqdm
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

In [121]:
DATA_DIR = Path("/home/knikaido/work/atma10/data/")

In [122]:
train = pd.read_csv(DATA_DIR / 'train.csv')
train['log_likes'] = np.log1p(train['likes'])

In [123]:
oof_path = ['/home/knikaido/work/atma10/git/21/oof21.csv',
            '/home/knikaido/work/atma10/git/22/oof22.csv',
            '/home/knikaido/work/atma10/git/23/oof23.csv',
            '/home/knikaido/work/atma10/git/24/oof24.csv',
#             '/home/knikaido/work/atma10/git/26/oof26.csv',
#             '/home/knikaido/work/atma10/git/27/oof27.csv'
           ]

In [124]:
oof_df = pd.DataFrame()
oof_df['log_likes'] = np.log1p(train['likes'])
for path in oof_path:
    oof_df[path.split('/')[-1][:-4]] = np.log1p(pd.read_csv(path))
oof_df

       log_likes     oof21     oof22     oof23     oof24
0       3.891820  4.177056  4.011944  4.178261  4.182572
1       1.098612  1.591518  1.708110  1.525181  1.627996
2       1.791759  0.964314  0.892233  0.930844  0.614662
3       4.615121  3.935627  3.937808  4.190766  4.056904
4       2.079442  4.056157  4.075694  4.222900  4.373319
...          ...       ...       ...       ...       ...
12021   1.609438  0.919336  0.551414  0.780662  0.985354
12022   0.000000  0.363849  0.183751  0.356139  0.103731
12023   0.000000  1.407848  1.522592  1.445313  1.381453
12024   2.708050  1.757980  1.916036  1.814241  1.791363
12025   5.147494  3.923792  4.268016  4.060993  4.029615

[12026 rows x 5 columns]

In [125]:
y_pred = np.mean(oof_df.iloc[:, 1:], axis=1)
y_pred.shape

(12026,)

In [126]:
np.sqrt(mean_squared_error(oof_df['log_likes'], y_pred))

0.9870390762338198

In [127]:
sub_path = ['/home/knikaido/work/atma10/git/21/sub21.csv',
            '/home/knikaido/work/atma10/git/22/sub22.csv',
            '/home/knikaido/work/atma10/git/23/sub23.csv',
            '/home/knikaido/work/atma10/git/24/sub24.csv',
            '/home/knikaido/work/atma10/git/26/sub26.csv',
#             '/home/knikaido/work/atma10/git/27/oof27.csv'
           ]

In [128]:
sub_df = pd.DataFrame()
for path in sub_path:
    sub_df[path.split('/')[-1][:-4]] = np.log1p(pd.read_csv(path).values).reshape(-1)
sub_df

          sub21     sub22     sub23     sub24     sub26
0      0.510663  0.591112  0.407330  0.400282  0.402021
1      3.198798  3.186777  3.171881  3.234648  3.450863
2      0.387805  0.466347  0.535728  0.614118  0.475830
3      1.707807  1.717928  1.733631  1.772191  1.662985
4      0.737334  0.738776  0.639308  0.690477  0.526194
...         ...       ...       ...       ...       ...
12003  0.351022  0.371640  0.302197  0.243629  0.256903
12004  0.691936  0.703639  0.468559  0.410603  0.538771
12005  0.388602  0.363623  0.217647  0.333508  0.339482
12006  0.155287  0.120786  0.174566  0.119016  0.275553
12007  0.386242  0.386295  0.381120  0.478502  0.331852

[12008 rows x 5 columns]

In [129]:
y_pred = np.mean(sub_df.iloc[:, 1:], axis=1)
y_pred.shape

(12008,)

In [130]:
sub = pd.read_csv(DATA_DIR / "atmacup10__sample_submission.csv")
sub["likes"] = np.expm1(y_pred)
sub

           likes
0       0.568604
1      25.076707
2       0.687091
3       4.593940
4       0.913031
...          ...
12003   0.341237
12004   0.699600
12005   0.368295
12006   0.188249
12007   0.483556

[12008 rows x 1 columns]

In [131]:
sub.loc[sub.likes <= 0,"likes"] = 0
sub.to_csv('./sub_ansamble2.csv',index=False)